html,body {
    margin:0;
    padding:0;
    overflow: auto;
    width:100%;
    height:100%;
}

#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;left:0;
    background-color:#ccc;
    overflow: auto;
}

#mask {
    height: 100%;
    position: absolute;
    background-color: #ccc;
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    background-color: #ddd;
    display: inline-block;
}

#contentRow li {
    overflow-y: scroll;
}

.prev-button, .next-button {
    position: fixed;
    top: 80%;
    margin-top: -24px;
    z-index: 9999;
}
.prev-button {
    left: 20px;
}
.next-button {
    right: 20px;
}

.up-button {
    background: blue;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
}
.down-button {
    position: absolute;
    top: 85%;
    margin-left: auto;
    margin-right: auto;
    left: 100px;
    right: 0;
    z-index: 9999;
}

#header0 { background-color: #BBE8FF }
#header1 { background-color: #A7FFE9 }
#header2 { background-color: #FF80B3 }

.clear {
    clear: both;
}
