html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.section { background-color: black }

/* First page */
#settings {}
#settingsContent {

}
#settingsContent img {
    display: block;
    margin: 0 auto;
}

/* Last page */
#end {
    background-color: black
}

#endContent {
    padding: 20px;
}
#endContent h1 {
    color: #FC4C02;
    font-weight: 600;
}

#endContent h2 {
    color: white;
    font-weight: 300;
}
#endContent .labslogo {
    margin-top: 60px;
}
