html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#loader {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    z-index: 1;
}
#loader .labslogo {
    padding-top: 40px;
    display: block;
    margin: 0 auto;
}

.section { background-color: black }

/* First page */
#settings {}
#settingsContent {

}
#settingsContent img {
    display: block;
    margin: 0 auto;
}
#settingsContent .labslogo {
    padding-top: 40px;
}

/* Last page */
#end {
    background-color: black
}

#endContent {
    padding: 20px;
}
#endContent h1 {
    color: #FC4C02;
    font-weight: 600;
}

#endContent h2 {
    color: white;
    font-weight: 300;
}
#endContent .labslogo {
    margin-top: 60px;
}
